<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" href="#intro">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href={{ .Site.Params.project_url }}>GitLab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ .Site.Params.author_url }}>{{ .Site.Params.author }}</a>
            </li>
        </ul>
    </div>

  <!-- /.container -->
  </div>
</nav>
